/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19  Distrib 10.6.24-MariaDB, for debian-linux-gnu (x86_64)
--
-- Host: localhost    Database: ijts_recovery_db
-- ------------------------------------------------------
-- Server version	10.6.24-MariaDB-ubu2204

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping routines for database 'ijts_recovery_db'
--
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `recalculate_voucher_total_paid` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `recalculate_voucher_total_paid`()
BEGIN
    DECLARE batch_size INT DEFAULT 10000;
    DECLARE offset_val INT DEFAULT 0;
    DECLARE rows_updated INT DEFAULT 0;
    DECLARE total_updated INT DEFAULT 0;
    
    
    REPEAT
        UPDATE voucher v
        JOIN (
            SELECT vouchervid, COALESCE(SUM(amount), 0) as calculated_total
            FROM voucher_item
            WHERE is_active IN (1, 2)
            GROUP BY vouchervid
        ) vi_sum ON v.vid = vi_sum.vouchervid
        SET v.total_paid = vi_sum.calculated_total
        WHERE v.vid IN (
            SELECT vid FROM (
                SELECT vid FROM voucher 
                ORDER BY vid
                LIMIT batch_size OFFSET offset_val
            ) as batch_ids
        );
        
        SET rows_updated = ROW_COUNT();
        SET total_updated = total_updated + rows_updated;
        SET offset_val = offset_val + batch_size;
        
        
        COMMIT;
        
    UNTIL rows_updated = 0
    END REPEAT;
    
    SELECT CONCAT('Total vouchers updated: ', total_updated) as result;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_get_next_negative_id` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb3 */ ;
/*!50003 SET character_set_results = utf8mb3 */ ;
/*!50003 SET collation_connection  = utf8mb3_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_get_next_negative_id`(
    IN p_table_name VARCHAR(100),
    IN p_pk_column VARCHAR(100),
    OUT p_next_id INT
)
BEGIN
    SET @sql = CONCAT('SELECT IFNULL(MIN(', p_pk_column, '), 0) - 1 INTO @next_id FROM ijts_recovery_db.', p_table_name, ' WHERE ', p_pk_column, ' < 0');
    PREPARE stmt FROM @sql;
    EXECUTE stmt;
    DEALLOCATE PREPARE stmt;
    SET p_next_id = @next_id;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_refresh_aggregated_table` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb3 */ ;
/*!50003 SET character_set_results = utf8mb3 */ ;
/*!50003 SET collation_connection  = utf8mb3_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_refresh_aggregated_table`()
BEGIN
    DECLARE EXIT HANDLER FOR SQLEXCEPTION
    BEGIN
        ROLLBACK;
        RESIGNAL;
    END;

    START TRANSACTION;

    
    TRUNCATE TABLE student_recovery_master_aggregated;

    
    DROP TEMPORARY TABLE IF EXISTS tmp_payment_data;
    CREATE TEMPORARY TABLE tmp_payment_data AS
    SELECT 
        gup.nic,
        SUM(vi.amount) AS total_paid,
        COUNT(vi.vi_id) AS payment_count,
        MIN(vi.date) AS first_paid_date,
        MAX(vi.date) AS last_paid_date
    FROM voucher_item vi
    JOIN voucher v ON v.vid = vi.vouchervid
    JOIN student_batches sb ON sb.vouchervid = v.vid
    JOIN student s ON s.s_id = sb.students_id
    JOIN general_user_profile gup ON gup.gup_id = s.general_user_profilegup_id
    WHERE vi.is_active IN (1,2)
      AND sb.is_active IN (1,2)
      AND gup.nic IS NOT NULL
    GROUP BY gup.nic;

    ALTER TABLE tmp_payment_data ADD INDEX idx_nic (nic);

    
    INSERT INTO student_recovery_master_aggregated (
        student_nic, student_name, student_id, enrollment_count,
        total_course_fee, total_discount, total_due_fee, total_paid, 
        total_outstanding, payment_count, first_paid_date, last_paid_date, 
        days_since_payment
    )
    SELECT 
        gup.nic AS student_nic,
        MAX(CONCAT(COALESCE(gup.first_name, ''), ' ', COALESCE(gup.last_name, ''))) AS student_name,
        MAX(s.s_id) AS student_id,
        COUNT(DISTINCT sb.sb_id) AS enrollment_count,
        SUM(COALESCE(sb.course_fee, 0)) AS total_course_fee,
        SUM(COALESCE(sb.total_discount, 0)) AS total_discount,
        SUM(COALESCE(sb.total_due_fee, 0)) AS total_due_fee,
        COALESCE(MAX(pd.total_paid), 0) AS total_paid,
        GREATEST(0, SUM(COALESCE(sb.total_due_fee, 0)) - COALESCE(MAX(pd.total_paid), 0)) AS total_outstanding,
        COALESCE(MAX(pd.payment_count), 0) AS payment_count,
        MAX(pd.first_paid_date) AS first_paid_date,
        MAX(pd.last_paid_date) AS last_paid_date,
        COALESCE(DATEDIFF(CURDATE(), MAX(pd.last_paid_date)), 9999) AS days_since_payment
    FROM student s
    JOIN general_user_profile gup ON gup.gup_id = s.general_user_profilegup_id
    JOIN student_batches sb ON sb.students_id = s.s_id
    LEFT JOIN tmp_payment_data pd ON pd.nic = gup.nic
    WHERE sb.is_active IN (1,2)
      AND gup.nic IS NOT NULL
      AND gup.nic != ''
    GROUP BY gup.nic;

    DROP TEMPORARY TABLE IF EXISTS tmp_payment_data;

    
    UPDATE student_recovery_master_aggregated sra
    JOIN (
        SELECT gup.nic AS student_nic, MAX(c.standard_fee) AS max_standard_fee
        FROM general_user_profile gup
        JOIN student s ON s.general_user_profilegup_id = gup.gup_id
        JOIN student_batches sb ON sb.students_id = s.s_id AND sb.is_active IN (1,2)
        JOIN batches b ON b.b_id = sb.batchesb_id
        JOIN course c ON c.cid = b.coursecid
        GROUP BY gup.nic
    ) fee_data ON sra.student_nic = fee_data.student_nic
    SET sra.standard_fee = fee_data.max_standard_fee;

    
    UPDATE student_recovery_master_aggregated sra
    JOIN (
        SELECT gup.nic AS student_nic, MAX(br.name) AS branch_name
        FROM general_user_profile gup
        JOIN student s ON s.general_user_profilegup_id = gup.gup_id
        JOIN student_batches sb ON sb.students_id = s.s_id AND sb.is_active IN (1,2)
        JOIN batches b ON b.b_id = sb.batchesb_id
        JOIN branch br ON br.bid = b.branch_bid
        GROUP BY gup.nic
    ) branch_data ON sra.student_nic = branch_data.student_nic
    SET sra.branch_name = branch_data.branch_name;

    
    UPDATE student_recovery_master_aggregated sra
    JOIN (
        SELECT 
            gup.nic AS student_nic,
            MAX(sps.scholarship_value) AS scholarship_percentage,
            MAX(sps.course_fee - sps.discounted_fee) AS scholarship_value,
            MAX(c.course_title) AS scholarship_course_name,
            MAX(po.name) AS payment_option
        FROM scholarship_payment_scheduler sps
        JOIN general_user_profile gup ON sps.general_user_profile_gup_id = gup.gup_id
        LEFT JOIN course c ON sps.course_cid = c.cid
        LEFT JOIN student s ON s.general_user_profilegup_id = gup.gup_id
        LEFT JOIN student_payment_scheduler spsch ON spsch.student_s_id = s.s_id AND spsch.is_active = 1
        LEFT JOIN payment_option po ON spsch.payment_option_id = po.id
        WHERE sps.scholarship_value > 0
        GROUP BY gup.nic
    ) scholarship_data ON sra.student_nic = scholarship_data.student_nic
    SET 
        sra.scholarship_percentage = scholarship_data.scholarship_percentage,
        sra.scholarship_value = scholarship_data.scholarship_value,
        sra.scholarship_course_name = scholarship_data.scholarship_course_name,
        sra.scholarship_payable = GREATEST(0, COALESCE(sra.standard_fee, 0) - scholarship_data.scholarship_value),
        sra.payment_option = scholarship_data.payment_option;

    
    UPDATE student_recovery_master_aggregated sra
    JOIN (
        SELECT gup.nic AS student_nic, 
               SUM(CASE 
                   WHEN vi.other_currency_amount IS NOT NULL AND vi.other_currency_amount > 0 
                   THEN vi.other_currency_amount 
                   ELSE vi.amount 
               END) AS total_intl_paid
        FROM voucher_item vi
        JOIN voucher v ON v.vid = vi.vouchervid
        JOIN student_batches sb ON sb.vouchervid = v.vid
        JOIN student s ON s.s_id = sb.students_id
        JOIN general_user_profile gup ON gup.gup_id = s.general_user_profilegup_id
        JOIN batches b ON b.b_id = sb.batchesb_id
        JOIN course c ON c.cid = b.coursecid
        WHERE vi.is_active IN (1,2)
          AND sb.is_active IN (1,2)
          AND c.cid IN (293, 360, 362, 363, 364, 410, 424, 425, 426)
        GROUP BY gup.nic
    ) intl_data ON intl_data.student_nic = sra.student_nic
    SET sra.intl_paid = intl_data.total_intl_paid;

    
    UPDATE student_recovery_master_aggregated sra
    JOIN (
        SELECT gup.nic AS student_nic, SUM(COALESCE(sb.course_fee, 0)) AS total_intl_fee
        FROM student_batches sb
        JOIN student s ON s.s_id = sb.students_id
        JOIN general_user_profile gup ON gup.gup_id = s.general_user_profilegup_id
        JOIN batches b ON b.b_id = sb.batchesb_id
        JOIN course c ON c.cid = b.coursecid
        WHERE sb.is_active IN (1,2)
          AND c.cid IN (293, 360, 362, 363, 364, 410, 424, 425, 426)
        GROUP BY gup.nic
    ) intl_fee_data ON intl_fee_data.student_nic = sra.student_nic
    SET sra.intl_fee = intl_fee_data.total_intl_fee;

    
    UPDATE student_recovery_master_aggregated
    SET intl_balance = GREATEST(0, COALESCE(intl_fee, 0) - COALESCE(intl_paid, 0));

    
    UPDATE student_recovery_master_aggregated sra
    JOIN (
        SELECT 
            gup.nic AS student_nic,
            COUNT(DISTINCT vi.offer_manager_id) as offer_count,
            GROUP_CONCAT(DISTINCT ono.name SEPARATOR ', ') as offer_names,
            SUM(COALESCE(om.discount_percentage, 0) + COALESCE(om.discount_amount, 0)) as total_offer_value
        FROM voucher_item vi
        JOIN voucher v ON v.vid = vi.vouchervid
        JOIN student_batches sb ON sb.vouchervid = v.vid
        JOIN student s ON s.s_id = sb.students_id
        JOIN general_user_profile gup ON gup.gup_id = s.general_user_profilegup_id
        JOIN offer_manager om ON vi.offer_manager_id = om.id
        LEFT JOIN offer_name ono ON om.offer_name_id = ono.id
        WHERE sb.is_active IN (1,2)
            AND vi.is_active IN (1,2)
            AND vi.offer_manager_id IS NOT NULL
        GROUP BY gup.nic
    ) offer_data ON offer_data.student_nic = sra.student_nic
    SET 
        sra.offer_count = offer_data.offer_count,
        sra.offer_names = offer_data.offer_names,
        sra.total_offer_value = offer_data.total_offer_value;

    
    UPDATE student_recovery_master_aggregated
    SET 
        risk_score = ROUND(
            LEAST(COALESCE(days_since_payment, 9999) / 365.0, 1) * 40 +
            CASE WHEN total_due_fee > 0 THEN LEAST(total_outstanding / total_due_fee, 1) * 35 ELSE 0 END +
            CASE WHEN total_due_fee > 0 THEN (1 - LEAST(total_paid / total_due_fee, 1)) * 25 ELSE 25 END,
            0
        ),
        risk_tier = CASE
            WHEN total_outstanding <= 0 THEN 'PAID'
            WHEN (LEAST(COALESCE(days_since_payment, 9999) / 365.0, 1) * 40 +
                  CASE WHEN total_due_fee > 0 THEN LEAST(total_outstanding / total_due_fee, 1) * 35 ELSE 0 END +
                  CASE WHEN total_due_fee > 0 THEN (1 - LEAST(total_paid / total_due_fee, 1)) * 25 ELSE 25 END) >= 76 THEN 'CRITICAL'
            WHEN (LEAST(COALESCE(days_since_payment, 9999) / 365.0, 1) * 40 +
                  CASE WHEN total_due_fee > 0 THEN LEAST(total_outstanding / total_due_fee, 1) * 35 ELSE 0 END +
                  CASE WHEN total_due_fee > 0 THEN (1 - LEAST(total_paid / total_due_fee, 1)) * 25 ELSE 25 END) >= 51 THEN 'HIGH'
            WHEN (LEAST(COALESCE(days_since_payment, 9999) / 365.0, 1) * 40 +
                  CASE WHEN total_due_fee > 0 THEN LEAST(total_outstanding / total_due_fee, 1) * 35 ELSE 0 END +
                  CASE WHEN total_due_fee > 0 THEN (1 - LEAST(total_paid / total_due_fee, 1)) * 25 ELSE 25 END) >= 26 THEN 'MEDIUM'
            ELSE 'LOW'
        END;

    
    UPDATE student_recovery_master_aggregated
    SET 
        course_fee_outstanding = total_outstanding,
        intl_fee_outstanding = intl_balance;

    
    UPDATE student_recovery_master_aggregated sra
    JOIN (
        SELECT gup.nic AS student_nic, MAX(ls.start_time) AS last_login_date
        FROM general_user_profile gup
        JOIN user_login ul ON ul.general_user_profilegup_id = gup.gup_id
        JOIN login_session ls ON ls.user_loginlogin_id = ul.login_id
        GROUP BY gup.nic
    ) login_data ON sra.student_nic = login_data.student_nic
    SET sra.last_login_date = login_data.last_login_date;

    
    DELETE FROM student_recovery_master_aggregated
    WHERE course_fee_outstanding <= 0 AND intl_fee_outstanding <= 0;

    COMMIT;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_refresh_all_offer_audit_summaries` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb3 */ ;
/*!50003 SET character_set_results = utf8mb3 */ ;
/*!50003 SET collation_connection  = utf8mb3_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_refresh_all_offer_audit_summaries`()
BEGIN
    CALL sp_refresh_offer_audit_payment_summary();
    CALL sp_refresh_offer_audit_enrollment_summary();
    CALL sp_refresh_offer_audit_offer_summary();
    CALL sp_refresh_offer_audit_obligation_summary();
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_refresh_offer_audit_enrollment_summary` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb3 */ ;
/*!50003 SET character_set_results = utf8mb3 */ ;
/*!50003 SET collation_connection  = utf8mb3_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_refresh_offer_audit_enrollment_summary`()
BEGIN
    DECLARE EXIT HANDLER FOR SQLEXCEPTION
    BEGIN
        ROLLBACK;
        RESIGNAL;
    END;
    
    START TRANSACTION;
    
    TRUNCATE TABLE offer_audit_enrollment_summary;
    
    INSERT INTO offer_audit_enrollment_summary (
        student_batch_id,
        student_id,
        student_nic,
        student_name,
        batch_title,
        course_name,
        course_fee,
        total_paid,
        total_due_fee,
        is_active
    )
    SELECT
        sb.sb_id AS student_batch_id,
        s.s_id AS student_id,
        gup.nic AS student_nic,
        CONCAT(COALESCE(gup.first_name, ''), ' ', COALESCE(gup.last_name, '')) AS student_name,
        b.title AS batch_title,
        c.course_title AS course_name,
        COALESCE(c.standard_fee, 0) AS course_fee,
        COALESCE(sb.total_paid_amount, 0) AS total_paid,
        COALESCE(sb.total_due_fee, 0) AS total_due_fee,
        sb.is_active
    FROM student_batches sb
    JOIN student s ON s.s_id = sb.students_id AND s.is_active IN (1, 2)
    JOIN general_user_profile gup ON gup.gup_id = s.general_user_profilegup_id
    JOIN batches b ON b.b_id = sb.batchesb_id
    JOIN course c ON c.cid = b.coursecid
    WHERE sb.is_active IN (1, 2)
      AND COALESCE(sb.total_paid_amount, 0) > 0;
    
    COMMIT;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_refresh_offer_audit_obligation_summary` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb3 */ ;
/*!50003 SET character_set_results = utf8mb3 */ ;
/*!50003 SET collation_connection  = utf8mb3_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_refresh_offer_audit_obligation_summary`()
BEGIN
    DECLARE EXIT HANDLER FOR SQLEXCEPTION
    BEGIN
        ROLLBACK;
        RESIGNAL;
    END;
    
    START TRANSACTION;
    
    TRUNCATE TABLE offer_audit_obligation_summary;
    
    INSERT INTO offer_audit_obligation_summary (
        scheduler_id,
        student_id,
        student_nic,
        student_name,
        course_name,
        course_fee,
        scholarship_value,
        discounted_fee,
        total_payment_due,
        release_date,
        expire_date
    )
    SELECT
        sps.id AS scheduler_id,
        s.s_id AS student_id,
        gup.nic AS student_nic,
        CONCAT(COALESCE(gup.first_name, ''), ' ', COALESCE(gup.last_name, '')) AS student_name,
        c.course_title AS course_name,
        COALESCE(sps.course_fee, 0) AS course_fee,
        COALESCE(sps.scholarship_value, 0) AS scholarship_value,
        COALESCE(sps.discounted_fee, 0) AS discounted_fee,
        COALESCE(sps.payment1_due, 0) + COALESCE(sps.payment2_due, 0) + COALESCE(sps.payment3_due, 0) AS total_payment_due,
        sps.release_date,
        sps.expire_date
    FROM scholarship_payment_scheduler sps
    JOIN general_user_profile gup ON gup.gup_id = sps.general_user_profile_gup_id
    LEFT JOIN student s ON s.general_user_profilegup_id = gup.gup_id AND s.is_active IN (1, 2)
    LEFT JOIN course c ON c.cid = sps.course_cid
    WHERE s.s_id IS NOT NULL
      AND (COALESCE(sps.scholarship_value, 0) > 0 
           OR (COALESCE(sps.payment1_due, 0) + COALESCE(sps.payment2_due, 0) + COALESCE(sps.payment3_due, 0)) > 0);
    
    COMMIT;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_refresh_offer_audit_offer_summary` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb3 */ ;
/*!50003 SET character_set_results = utf8mb3 */ ;
/*!50003 SET collation_connection  = utf8mb3_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_refresh_offer_audit_offer_summary`()
BEGIN
    DECLARE EXIT HANDLER FOR SQLEXCEPTION
    BEGIN
        ROLLBACK;
        RESIGNAL;
    END;
    
    START TRANSACTION;
    
    TRUNCATE TABLE offer_audit_offer_summary;
    
    
    INSERT INTO offer_audit_offer_summary (
        offer_manager_id,
        student_batch_id,
        student_id,
        student_nic,
        student_name,
        offer_name,
        discount_percentage,
        discount_amount,
        offer_created_at,
        is_active
    )
    SELECT
        om.id AS offer_manager_id,
        sb.sb_id AS student_batch_id,
        s.s_id AS student_id,
        gup.nic AS student_nic,
        CONCAT(COALESCE(gup.first_name, ''), ' ', COALESCE(gup.last_name, '')) AS student_name,
        onm.name AS offer_name,
        om.discount_percentage,
        om.discount_amount,
        om.created_at AS offer_created_at,
        om.is_active
    FROM offer_manager om
    LEFT JOIN student_batches sb ON sb.offer_manager_id = om.id AND sb.is_active IN (1, 2)
    LEFT JOIN student s ON s.s_id = sb.students_id AND s.is_active IN (1, 2)
    LEFT JOIN general_user_profile gup ON gup.gup_id = s.general_user_profilegup_id
    LEFT JOIN offer_name onm ON onm.id = om.offer_name_id
    WHERE (om.is_active = 1 OR om.is_active IS NULL)
      AND (COALESCE(om.discount_amount, 0) > 0 OR COALESCE(om.discount_percentage, 0) > 0);
    
    
    INSERT INTO offer_audit_offer_summary (
        offer_manager_id,
        student_batch_id,
        student_id,
        student_nic,
        student_name,
        offer_name,
        discount_percentage,
        discount_amount,
        offer_created_at,
        is_active
    )
    SELECT DISTINCT
        om.id AS offer_manager_id,
        sb.sb_id AS student_batch_id,
        s.s_id AS student_id,
        gup.nic AS student_nic,
        CONCAT(COALESCE(gup.first_name, ''), ' ', COALESCE(gup.last_name, '')) AS student_name,
        onm.name AS offer_name,
        COALESCE(vi.discount_percentage, om.discount_percentage) AS discount_percentage,
        COALESCE(vi.discount_value, om.discount_amount) AS discount_amount,
        om.created_at AS offer_created_at,
        om.is_active
    FROM voucher_item vi
    JOIN offer_manager om ON om.id = vi.offer_manager_id
    JOIN voucher v ON v.vid = vi.vouchervid
    JOIN student_batches sb ON sb.vouchervid = v.vid AND sb.is_active IN (1, 2)
    JOIN student s ON s.s_id = sb.students_id AND s.is_active IN (1, 2)
    JOIN general_user_profile gup ON gup.gup_id = s.general_user_profilegup_id
    LEFT JOIN offer_name onm ON onm.id = om.offer_name_id
    WHERE vi.offer_manager_id IS NOT NULL
      AND vi.is_active IN (1, 2)
      AND (sb.offer_manager_id IS NULL OR sb.offer_manager_id != vi.offer_manager_id)
      AND NOT EXISTS (
          SELECT 1 FROM offer_audit_offer_summary oas 
          WHERE oas.offer_manager_id = om.id 
            AND oas.student_id = s.s_id
      );
    
    COMMIT;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_refresh_offer_audit_payment_summary` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb3 */ ;
/*!50003 SET character_set_results = utf8mb3 */ ;
/*!50003 SET collation_connection  = utf8mb3_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_refresh_offer_audit_payment_summary`()
BEGIN
    DECLARE EXIT HANDLER FOR SQLEXCEPTION
    BEGIN
        ROLLBACK;
        RESIGNAL;
    END;
    
    START TRANSACTION;
    
    TRUNCATE TABLE offer_audit_payment_summary;
    
    INSERT INTO offer_audit_payment_summary (
        student_batch_id,
        student_id,
        student_nic,
        student_name,
        payment_count,
        total_paid_amount,
        first_paid_date,
        last_paid_date,
        last_login_at
    )
    SELECT
        sb.sb_id AS student_batch_id,
        s.s_id AS student_id,
        gup.nic AS student_nic,
        CONCAT(COALESCE(gup.first_name, ''), ' ', COALESCE(gup.last_name, '')) AS student_name,
        COUNT(vi.vi_id) AS payment_count,
        COALESCE(SUM(vi.amount), 0) AS total_paid_amount,
        MIN(vi.date) AS first_paid_date,
        MAX(vi.date) AS last_paid_date,
        ls.last_login_at
    FROM student_batches sb
    JOIN student s ON s.s_id = sb.students_id AND s.is_active IN (1, 2)
    JOIN general_user_profile gup ON gup.gup_id = s.general_user_profilegup_id
    JOIN voucher v ON v.vid = sb.vouchervid
    LEFT JOIN voucher_item vi ON vi.vouchervid = v.vid AND vi.is_active IN (1, 2)
    LEFT JOIN (
        SELECT 
            ul.login_id,
            MAX(ls.start_time) AS last_login_at
        FROM user_login ul
        JOIN login_session ls ON ls.user_loginlogin_id = ul.login_id
        GROUP BY ul.login_id
    ) ls ON ls.login_id = (
        SELECT ul2.login_id FROM user_login ul2 WHERE ul2.general_user_profilegup_id = gup.gup_id LIMIT 1
    )
    WHERE sb.is_active IN (1, 2)
    GROUP BY
        sb.sb_id,
        s.s_id,
        gup.nic,
        gup.first_name,
        gup.last_name,
        ls.last_login_at
    HAVING COUNT(vi.vi_id) > 0 AND COALESCE(SUM(vi.amount), 0) > 0;
    
    COMMIT;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_refresh_payment_audit_summary` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
DELIMITER ;;
CREATE DEFINER=`recovery_user`@`localhost` PROCEDURE `sp_refresh_payment_audit_summary`()
BEGIN
    
    TRUNCATE TABLE student_payment_audit_summary;
    
    
    INSERT INTO student_payment_audit_summary 
        (nic, gup_id, s_id, student_id, student_name, actual_paid, voucher_system_paid, last_paid_date, difference)
    SELECT 
        nic, gup_id, s_id, student_id, student_name, actual_paid, voucher_system_paid, last_paid_date, difference
    FROM vw_student_payment_audit;
    
    
    SELECT ROW_COUNT() AS records_inserted;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_refresh_voucher_audit_summary` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_refresh_voucher_audit_summary`()
BEGIN
  DECLARE v_now DATETIME;
  SET v_now = NOW();

  

  TRUNCATE TABLE voucher_audit_summary;

  INSERT INTO voucher_audit_summary
  (
    gup_id,
    s_id,
    nic,
    student_name,
    sb_total_paid_amount,
    voucher_system_paid,
    voucher_total_paid_sum,
    last_paid_date,
    difference,
    audit_generated_at
  )
  SELECT
    s.general_user_profilegup_id AS gup_id,
    s.s_id,
    gup.nic,
    CONCAT(gup.first_name, ' ', gup.last_name) AS student_name,

    
    COALESCE(sb.sb_total_paid, 0) AS sb_total_paid_amount,

    
    COALESCE(vp.voucher_item_sum, 0) AS voucher_system_paid,

    
    COALESCE(vt.v_total_paid_sum, 0) AS voucher_total_paid_sum,

    
    vp.last_vi_date AS last_paid_date,

    
    (COALESCE(sb.sb_total_paid, 0) - COALESCE(vp.voucher_item_sum, 0)) AS difference,

    v_now AS audit_generated_at
  FROM (
      SELECT general_user_profilegup_id, MIN(s_id) as s_id
      FROM student
      GROUP BY general_user_profilegup_id
  ) s
  
  JOIN general_user_profile gup ON gup.gup_id = s.general_user_profilegup_id

  
  LEFT JOIN (
      SELECT
          s2.general_user_profilegup_id AS gup_id,
          SUM(sb2.total_paid_amount) AS sb_total_paid
      FROM student s2
      JOIN student_batches sb2
          ON sb2.students_id = s2.s_id
      WHERE sb2.is_active IN (1,2)
      GROUP BY s2.general_user_profilegup_id
  ) sb
      ON sb.gup_id = s.general_user_profilegup_id

  
  LEFT JOIN (
      SELECT
          v.general_user_profilegup_id AS gup_id,
          SUM(vi.amount) AS voucher_item_sum,
          MAX(vi.date) AS last_vi_date
      FROM voucher v
      JOIN voucher_item vi
          ON vi.vouchervid = v.vid
      WHERE v.is_active IN (1,2)
        AND vi.is_active IN (1,2)
        AND (vi.is_deleted = 0 OR vi.is_deleted IS NULL)
        AND vi.voucher_typevt_id <> 33     
        AND vi.amount <= 3000000           
      GROUP BY v.general_user_profilegup_id
  ) vp
      ON vp.gup_id = s.general_user_profilegup_id

  
  LEFT JOIN (
      SELECT
          v.general_user_profilegup_id AS gup_id,
          SUM(v.total_paid) AS v_total_paid_sum
      FROM voucher v
      WHERE v.is_active IN (1,2)
      GROUP BY v.general_user_profilegup_id
  ) vt
      ON vt.gup_id = s.general_user_profilegup_id

  
  WHERE sb.sb_total_paid IS NOT NULL OR vp.voucher_item_sum IS NOT NULL
  ;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_sync_login_tables` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb3 */ ;
/*!50003 SET character_set_results = utf8mb3 */ ;
/*!50003 SET collation_connection  = utf8mb3_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_sync_login_tables`()
BEGIN
    DECLARE p_last_sync_time DATETIME;
    
    
    SET p_last_sync_time = DATE_SUB(NOW(), INTERVAL 24 HOUR);
    
    SET FOREIGN_KEY_CHECKS = 0;

    
    INSERT IGNORE INTO ijts_recovery_db.user_login (login_id,username,password,is_active,is_multiple_login,general_user_profilegup_id,system_interface_si_id,user_role_ur_id,max_login_attempt,generated_password,is_first_time,count_attempt,security_questionid_sq,answer,general_organization_profile_id_gop,last_reset,user_login_type_id,is_due)
    SELECT login_id,username,password,is_active,is_multiple_login,general_user_profilegup_id,system_interface_si_id,user_role_ur_id,max_login_attempt,generated_password,is_first_time,count_attempt,security_questionid_sq,answer,general_organization_profile_id_gop,last_reset,user_login_type_id,is_due
    FROM ijts_system.user_login;

    
    INSERT IGNORE INTO ijts_recovery_db.login_session (session_id,ip,start_time,end_time,user_loginlogin_id,branchbid,general_organization_profile_id_gop,user_login_group_id)
    SELECT session_id,ip,start_time,end_time,user_loginlogin_id,branchbid,general_organization_profile_id_gop,user_login_group_id
    FROM ijts_system.login_session
    WHERE start_time > p_last_sync_time;

    SET FOREIGN_KEY_CHECKS = 1;

    SELECT 'Login tables sync completed' AS sync_result;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_upsert_cdc_sync` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb3 */ ;
/*!50003 SET character_set_results = utf8mb3 */ ;
/*!50003 SET collation_connection  = utf8mb3_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_upsert_cdc_sync`()
BEGIN
    DECLARE p_last_sync_time DATETIME;
    DECLARE v_sync_start DATETIME;
    
    SET v_sync_start = NOW();
    
    
    SET p_last_sync_time = DATE_SUB(NOW(), INTERVAL 24 HOUR);
    
    SET FOREIGN_KEY_CHECKS = 0;

    
    INSERT INTO ijts_recovery_db.batches (b_id,title,batch_identifiers,start_date,end_date,is_active,coursecid,branch_bid,intake_id,batch_type_id,record_updated_at)
    SELECT b_id,title,batch_identifiers,start_date,end_date,is_active,coursecid,branch_bid,intake_id,batch_type_id,record_updated_at
    FROM ijts_system.batches WHERE record_updated_at > p_last_sync_time
    ON DUPLICATE KEY UPDATE title = VALUES(title), is_active = VALUES(is_active), record_updated_at = VALUES(record_updated_at);

    
    INSERT INTO ijts_recovery_db.branch (bid,name,address1,address2,address3,is_active,general_organization_profile_id_gop,record_updated_at)
    SELECT bid,name,address1,address2,address3,is_active,general_organization_profile_id_gop,record_updated_at
    FROM ijts_system.branch WHERE record_updated_at > p_last_sync_time
    ON DUPLICATE KEY UPDATE name = VALUES(name), is_active = VALUES(is_active), record_updated_at = VALUES(record_updated_at);

    
    INSERT INTO ijts_recovery_db.course (cid,course_code,course_title,duration,is_active,course_fee,standard_fee,course_typect_id,general_organization_profile_id_gop,course_level_id_cl,awarding_body_id_ab,record_updated_at)
    SELECT cid,course_code,course_title,duration,is_active,course_fee,standard_fee,course_typect_id,general_organization_profile_id_gop,course_level_id_cl,awarding_body_id_ab,record_updated_at
    FROM ijts_system.course WHERE record_updated_at > p_last_sync_time
    ON DUPLICATE KEY UPDATE course_title = VALUES(course_title), course_fee = VALUES(course_fee), standard_fee = VALUES(standard_fee), is_active = VALUES(is_active), record_updated_at = VALUES(record_updated_at);

    
    INSERT INTO ijts_recovery_db.student_batches (sb_id,is_active,students_id,batchesb_id,vouchervid,course_fee,total_discount,total_due_fee,offer_manager_id,record_updated_at)
    SELECT sb_id,is_active,students_id,batchesb_id,vouchervid,course_fee,total_discount,total_due_fee,offer_manager_id,record_updated_at
    FROM ijts_system.student_batches WHERE record_updated_at > p_last_sync_time
    ON DUPLICATE KEY UPDATE is_active = VALUES(is_active), course_fee = VALUES(course_fee), total_discount = VALUES(total_discount), total_due_fee = VALUES(total_due_fee), record_updated_at = VALUES(record_updated_at);

    
    INSERT INTO ijts_recovery_db.scholarship_payment_scheduler (id,scholarship_value,course_fee,discounted_fee,is_active,general_user_profile_gup_id,course_cid,record_updated_at)
    SELECT id,scholarship_value,course_fee,discounted_fee,is_active,general_user_profile_gup_id,course_cid,record_updated_at
    FROM ijts_system.scholarship_payment_scheduler WHERE record_updated_at > p_last_sync_time
    ON DUPLICATE KEY UPDATE scholarship_value = VALUES(scholarship_value), course_fee = VALUES(course_fee), discounted_fee = VALUES(discounted_fee), is_active = VALUES(is_active), record_updated_at = VALUES(record_updated_at);

    
    INSERT INTO ijts_recovery_db.student_payment_scheduler (id,is_active,student_s_id,payment_option_id,record_updated_at)
    SELECT id,is_active,student_s_id,payment_option_id,record_updated_at
    FROM ijts_system.student_payment_scheduler WHERE record_updated_at > p_last_sync_time
    ON DUPLICATE KEY UPDATE is_active = VALUES(is_active), payment_option_id = VALUES(payment_option_id), record_updated_at = VALUES(record_updated_at);

    
    INSERT INTO ijts_recovery_db.payment_option (id,name,is_active,record_updated_at)
    SELECT id,name,is_active,record_updated_at
    FROM ijts_system.payment_option WHERE record_updated_at > p_last_sync_time
    ON DUPLICATE KEY UPDATE name = VALUES(name), is_active = VALUES(is_active), record_updated_at = VALUES(record_updated_at);

    
    INSERT INTO ijts_recovery_db.offer_name (id,name,is_active,record_updated_at)
    SELECT id,name,is_active,record_updated_at
    FROM ijts_system.offer_name WHERE record_updated_at > p_last_sync_time
    ON DUPLICATE KEY UPDATE name = VALUES(name), is_active = VALUES(is_active), record_updated_at = VALUES(record_updated_at);

    
    INSERT INTO ijts_recovery_db.offer_manager (id,reference,offer_given_type_id,date_from,date_to,discount_percentage,discount_amount,comment,offer_name_id,offer_type_id_ot,universal_approval_status_manager_id,course_cid,offer_value,record_updated_at)
    SELECT id,reference,offer_given_type_id,date_from,date_to,discount_percentage,discount_amount,comment,offer_name_id,offer_type_id_ot,universal_approval_status_manager_id,course_cid,offer_value,record_updated_at
    FROM ijts_system.offer_manager WHERE record_updated_at > p_last_sync_time
    ON DUPLICATE KEY UPDATE discount_percentage = VALUES(discount_percentage), discount_amount = VALUES(discount_amount), record_updated_at = VALUES(record_updated_at);

    
    INSERT INTO ijts_recovery_db.general_user_profile (gup_id,nic,child_no,title,mid_name,address1,address2,address3,gender,company,dob,office_phone,home_phone,mobile_phone,ip,img,about_me,profile_created_date,is_active,first_name,last_name,email,name_with_in,names_denoted_by_initials,is_email_subscribe,is_sms_subscribe,postal_code,nationality,file_no,occupation,skype,whatsapp,viber,is_mail_verified,languageslanguage_id,general_organization_profile_id_gop,education_level_id_el,occupation_id_o,industry_id_i,profession_id_p,designation_id_d,country_id_c,general_user_profile_gup_id,district_id_d,martial_status_id,nationality_id,user_title_id,user_gender_id,country_of_citizenship,country_of_birth,height,enroll_age,is_enroll_age_verified,record_updated_at)
    SELECT gup_id,nic,child_no,title,mid_name,address1,address2,address3,gender,company,dob,office_phone,home_phone,mobile_phone,ip,img,about_me,profile_created_date,is_active,first_name,last_name,email,name_with_in,names_denoted_by_initials,is_email_subscribe,is_sms_subscribe,postal_code,nationality,file_no,occupation,skype,whatsapp,viber,is_mail_verified,languageslanguage_id,general_organization_profile_id_gop,education_level_id_el,occupation_id_o,industry_id_i,profession_id_p,designation_id_d,country_id_c,general_user_profile_gup_id,district_id_d,martial_status_id,nationality_id,user_title_id,user_gender_id,country_of_citizenship,country_of_birth,height,enroll_age,is_enroll_age_verified,record_updated_at
    FROM ijts_system.general_user_profile WHERE record_updated_at > p_last_sync_time
    ON DUPLICATE KEY UPDATE nic = VALUES(nic), first_name = VALUES(first_name), last_name = VALUES(last_name), mobile_phone = VALUES(mobile_phone), is_active = VALUES(is_active), record_updated_at = VALUES(record_updated_at);

    
    INSERT INTO ijts_recovery_db.student (s_id,student_id,scn_no,current_study,iq_marks,school,name_on_certificate,academic_year,student_id_img,is_active,interview_statusis_id,student_introduced_bysc_id,coursecid,general_user_profilegup_id,branch_bid,general_organization_profile_id_gop,no_of_Installment,course_fee_total_due_amount,intake_id,student_entry_stream_id,is_profile_data_verified,no_of_credits,email_verified,id_card_verified,seminar_date,verification_token,seminar_id,certificate_name_verified,certificate_name_verified_by,certificate_name_entered_at,certificate_name_verified_at,profile_name,leads_reference,bcu_id,uk_award_id,record_updated_at)
    SELECT s_id,student_id,scn_no,current_study,iq_marks,school,name_on_certificate,academic_year,student_id_img,is_active,interview_statusis_id,student_introduced_bysc_id,coursecid,general_user_profilegup_id,branch_bid,general_organization_profile_id_gop,no_of_Installment,course_fee_total_due_amount,intake_id,student_entry_stream_id,is_profile_data_verified,no_of_credits,email_verified,id_card_verified,seminar_date,verification_token,seminar_id,certificate_name_verified,certificate_name_verified_by,certificate_name_entered_at,certificate_name_verified_at,profile_name,leads_reference,bcu_id,uk_award_id,record_updated_at
    FROM ijts_system.student WHERE record_updated_at > p_last_sync_time
    ON DUPLICATE KEY UPDATE is_active = VALUES(is_active), general_user_profilegup_id = VALUES(general_user_profilegup_id), record_updated_at = VALUES(record_updated_at);

    
    INSERT INTO ijts_recovery_db.voucher (vid,id,description,date,voucher_total,general_user_profilegup_id,voucher_typevt_id,login_sessionsession_id,user_loginlogin_id,branch_bid,is_active,payment_date,due,total_paid,is_completed,payment_mode_payment_mode_id,general_organization_profile_id_gop,shipping_fee,time,online_transactions_id,record_updated_at)
    SELECT vid,id,description,date,voucher_total,general_user_profilegup_id,voucher_typevt_id,login_sessionsession_id,user_loginlogin_id,branch_bid,is_active,payment_date,due,total_paid,is_completed,payment_mode_payment_mode_id,general_organization_profile_id_gop,shipping_fee,time,online_transactions_id,record_updated_at
    FROM ijts_system.voucher WHERE record_updated_at > p_last_sync_time
    ON DUPLICATE KEY UPDATE is_active = VALUES(is_active), total_paid = VALUES(total_paid), due = VALUES(due), record_updated_at = VALUES(record_updated_at);

    
    INSERT INTO ijts_recovery_db.voucher_item (vi_id,id,description,date,is_active,amount,vouchervid,voucher_typevt_id,user_loginlogin_id,login_sessionsession_id,sub_chart_of_accountis_sca,voucher_item_vi_id,is_deleted,nbt_amount,is_completed,org_item_id,qty,unit_price,payment_mode_payment_mode_id,to_be_paid_amount,discount_percentage,discount_value,discounted_amount,due_amount,offer_manager_id,time,other_currency_amount,bank_reference_no,student_batches_id,record_updated_at)
    SELECT vi_id,id,description,date,is_active,amount,vouchervid,voucher_typevt_id,user_loginlogin_id,login_sessionsession_id,sub_chart_of_accountis_sca,voucher_item_vi_id,is_deleted,nbt_amount,is_completed,org_item_id,qty,unit_price,payment_mode_payment_mode_id,to_be_paid_amount,discount_percentage,discount_value,discounted_amount,due_amount,offer_manager_id,time,other_currency_amount,bank_reference_no,student_batches_id,record_updated_at
    FROM ijts_system.voucher_item WHERE record_updated_at > p_last_sync_time
    ON DUPLICATE KEY UPDATE amount = VALUES(amount), is_active = VALUES(is_active), other_currency_amount = VALUES(other_currency_amount), record_updated_at = VALUES(record_updated_at);

    
    INSERT INTO ijts_recovery_db.universal_payment_manager (id,scholarship,full_payment,payable_amount,total_due,paid_amount,general_user_profile_gup_id,scholarship_released_date,extended_comment,last_comment,is_portal_paid,is_id_card_paid,is_university_paid,is_active,loan_started_date,payment_option_id,payment_option_type_id,payment_option_comment,branch_bid,paying_amount1,paying_amount2,paying_amount3,is_postpone,is_sent_covid_mail_option_1,is_sent_covid_mail_option_2,last_comment_2,last_comment_3,is_sent_offer_mail_new,is_pending_reject,parent_meeting_date,finance_officer_id,group_id,scholarship_groups_id,batchesb_id,parent_comment,is_agreement_read,student_payment_method_id,record_updated_at)
    SELECT id,scholarship,full_payment,payable_amount,total_due,paid_amount,general_user_profile_gup_id,scholarship_released_date,extended_comment,last_comment,is_portal_paid,is_id_card_paid,is_university_paid,is_active,loan_started_date,payment_option_id,payment_option_type_id,payment_option_comment,branch_bid,paying_amount1,paying_amount2,paying_amount3,is_postpone,is_sent_covid_mail_option_1,is_sent_covid_mail_option_2,last_comment_2,last_comment_3,is_sent_offer_mail_new,is_pending_reject,parent_meeting_date,finance_officer_id,group_id,scholarship_groups_id,batchesb_id,parent_comment,is_agreement_read,student_payment_method_id,record_updated_at
    FROM ijts_system.universal_payment_manager WHERE record_updated_at > p_last_sync_time
    ON DUPLICATE KEY UPDATE scholarship = VALUES(scholarship), payable_amount = VALUES(payable_amount), paid_amount = VALUES(paid_amount), is_active = VALUES(is_active), record_updated_at = VALUES(record_updated_at);

    
    
    INSERT IGNORE INTO ijts_recovery_db.user_login (login_id,username,password,is_active,is_multiple_login,general_user_profilegup_id,system_interface_si_id,user_role_ur_id,max_login_attempt,generated_password,is_first_time,count_attempt,security_questionid_sq,answer,general_organization_profile_id_gop,last_reset,user_login_type_id,is_due)
    SELECT login_id,username,password,is_active,is_multiple_login,general_user_profilegup_id,system_interface_si_id,user_role_ur_id,max_login_attempt,generated_password,is_first_time,count_attempt,security_questionid_sq,answer,general_organization_profile_id_gop,last_reset,user_login_type_id,is_due
    FROM ijts_system.user_login;

    
    
    INSERT IGNORE INTO ijts_recovery_db.login_session (session_id,ip,start_time,end_time,user_loginlogin_id,branchbid,general_organization_profile_id_gop,user_login_group_id)
    SELECT session_id,ip,start_time,end_time,user_loginlogin_id,branchbid,general_organization_profile_id_gop,user_login_group_id
    FROM ijts_system.login_session
    WHERE start_time > p_last_sync_time;

    SET FOREIGN_KEY_CHECKS = 1;

    SELECT CONCAT('UPSERT CDC Sync completed. Synced 16 tables from ', p_last_sync_time, ' to ', v_sync_start) AS sync_result;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `update_single_voucher_total_paid` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `update_single_voucher_total_paid`(IN p_vouchervid INT)
BEGIN
    UPDATE voucher
    SET total_paid = (
        SELECT COALESCE(SUM(amount), 0)
        FROM voucher_item
        WHERE vouchervid = p_vouchervid AND is_active IN (1, 2)
    )
    WHERE vid = p_vouchervid;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-19 21:41:38
